<!DOCTYPE html>
<html>
  <head>
    <title>WeeklyMenuPlanner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag "application" %>
    <%= stylesheet_pack_tag "application" %>
  </head>

  <body>
    <div class="flex">
      <div class="w-20">
        left
      </div>
      <div class="w-80">
        <%= yield %>
        center
      </div>
      <div class="w-20">
        right
      </div>
    </div>
  </body>
</html>
