<!DOCTYPE html>
<html>
  <head>
    <title>Weekly Menu Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag "application" %>
    <%= stylesheet_pack_tag "application" %>
  </head>

  <body>
    <% if notice %>
      <div class="notice-wrapper">
        <p><%= notice %></p>
      </div>
    <% elsif alert %>
      <div class="alert-wrapper">
        <p><%= alert %></p>
      </div>
    <% end %>
    <header class="sans-serif">
      <div class="cover bg-left bg-center-l" style="background-image: url(<%= asset_pack_path('images/hero.jpg') %>)">
        <div class="bg-black-70">
          <nav class="dt w-100 mw8 center">
            <div class="dtc w2 v-mid pa3">
              <a href="/" class="dib w2 h2 pa1 ba b--white-90 grow-large border-box">
              </a>
            </div>
            <% unless current_user %>
              <div class="dtc v-mid tr pa3">
                <%= link_to "Sign Up", new_registration_path(resource_name), class: 'f6 fw4 hover-white no-underline white-70 dib ml2 pv2 ph3 ba' %>
              </div>
            <% end %>
          </nav>
          <div class="tc-l mt4 mt2-m mt2-l ph3 pb2">
            <h1 class="f2 f1-l fw2 white-90 mb0 lh-title">Welcome to Weekly Menu Planner</h1>
            <h2 class="fw1 f3 white-80 mt3 mb4">Plan your weekly menu and shopping list</h2>
          </div>
        </div>
      </div>
    </header>

    <div class="flex">
      <div class="w-20"></div>
      <div class="w-80">
        <%= yield %>
      </div>
      <div class="w-20"></div>
    </div>
    <footer class="pv4 ph3 ph5-m ph6-l mid-gray bg-near-white">
      <small class="f6 db tc">© <%= Date.today.year %> <b class="ttu">Justin B Kay</b>., All Rights Reserved</small>
      <div class="tc mt3">
      </div>
    </footer>
  </body>
</html>
