<!DOCTYPE html>
<html>
  <head>
    <title>WeeklyMenuPlanner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag "application" %>
    <%= stylesheet_pack_tag "application" %>
  </head>

  <body>
    <% if notice %>
      <div class="notice-wrapper">
        <p><%= notice %></p>
      </div>
    <% elsif alert %>
      <div class="alert-wrapper">
        <p><%= alert %></p>
      </div>
    <% end %>
    <div class="flex vh-100">
      <div class="w-20"></div>
      <div class="w-80">
        <%= yield %>
      </div>
      <div class="w-20"></div>
    </div>
  </body>
</html>
